logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
coverage
*.local

.env*
!.env.example

review-body.md
issue-body.md
reply-body.md
pr-body.md

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
